body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;

}
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
    text-align: center;
}

#home {
    background-color: #e2bfbf;
}

#about {
    background-color: #d8c3a5;
}

#menu {
    background-color: #eae7dc;
}

#contact {
    background-color: #8e8d8a;
    color: #fff;
}

.menu-item {
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
